body h1 {
  text-align: center;
}

#title {
  margin-top: 30px;
  margin-bottom: 20px;
  margin-left: 25%;
  margin-right: 25%;
  width: auto;
  border-radius: 20px;
  box-shadow: 6px 6px 10px grey;
  background-color: whitesmoke;
}

#text {
  margin-top: 60px;
  margin-bottom:20px;
  margin-left: 25%;
  margin-right: 25%;
  padding-top: 2%;
  padding-right: 2%;
  padding-left: 2%;
  padding-bottom: 2%;
  width: auto;
  border-radius: 10px;
  box-shadow: 6px 6px 10px #7B68EE;
  background-color: #9370DB;
  height: 180px;
}

body {
  background-color: #00BFFF;
}

{
  #ten_of_diamonds {
		position: absolute;
		left: 100px;
		top: 100px;
		z-index: 1;
	}

	#jack_of_diamonds {
		position: absolute;
		left: 115px;
		top: 115px;
		z-index: 2;
	}

	#queen_of_diamonds {
		position: absolute;
		left: 130px;
		top: 130px;
		z-index: 3;
	}

	#king_of_diamonds {
		position: absolute;
		left: 145px;
		top: 145px;
		z-index: 4;
	}

	#ace_of_diamonds {
		position: absolute;
		left: 160px;
		top: 160px;
		z-index: 5;
	}

